/*
.myAccount {
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}
.reloadUserInfo {
    width: 100px;
}*/
.personalInfoContainer {

}
.description {
    padding: 21px 35px 40px 35px;
    border-radius: 12px;
    background-color: #ecf0f1;
    max-width: 750px;
margin-bottom: 10px;
}
.descriptionItem {
    padding: 20px;
}
.descriptionItem span {
font-weight: 700;
}
.addButton {
    padding: 10px;
    border-radius: 15px;
    background-color:  #f0f6f8;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #2980b9;
    cursor: pointer;
}
.socialLinks {

}
.checkboxContainer span {
    font-weight: 700;
}
.account_buttonContainer {
    display: flex;
    justify-content: space-around;
}
.account_button {
    min-width: 20px;
   min-height: 20px;

}
.checkboxContainer label {
    display: flex;
    align-items: center;
}
.inputValue {

}

.infoContainer {

}
.infoItem {
    display: flex;
    padding: 10px;
    justify-content:space-between;
}
.infoItem span {
    flex:1 1 10%;
}
.infoItem input {
    flex: 0 0 70%;
}
.infoItem label {
    display: flex;

}
.infoItem label input {
    margin-top: 5px;
    background-color: #2db7f5;
}
.addDelButton {
    display: flex;
    align-content: center;
}
.secondaryAdd,
.secondaryDel {
    cursor: pointer;
    padding: 11px 0;
    text-align: center;
    width: 100px;
    position: relative;
    font-weight: 600;
    line-height: 1;
    color: #2f3337;
    border-radius: 8px;
    border: solid 1px #ecf0f1;
    background-color: #96dbfa;
}
.deleteAccountContainer {
    position: absolute;
    width: 150px;
    right: 130px;
    bottom: 40px;
}
@media (max-width:790px) {
    .deleteAccountContainer {
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
}
@media (max-width:360px) {
    .deleteAccountContainer {
        position: absolute;
        left: 25px;
        bottom: -50px;
    }
}