.mainAdminContainer {

}
.adminContainer {
    background-color: #e7f3fd;
    display: flex;
    /*display: grid;
    grid-template-columns:1fr 5fr;*/
}

.menuColumnLeft {
    margin-right: 20px;
}
.contentColumnRight {

}
.menuLeftNameItems,
.menuLeftIcons {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 20px;
}
.menuColumnLeft_Item {
 margin: 10px;
}

