.Checkout_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1142px;
}
.Checkout_checkout {
    color: #2f3337;
    padding-bottom: 64px;
    padding-top: 48px;
}
.Checkout_left {
    max-width: 750px;
    width: 100%;
}
.Checkout_item {
    background: #fff;
    border: 1px solid #ecf0f1;
    border-radius: 16px;
    box-shadow: 0 0 1px rgb(10 31 68 / 8%), 0 8px 10px rgb(10 31 68 / 10%);
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
}
.Checkout_product {
    display: flex;
}
.Checkout_product__image {
    border-radius: 12px;
    height: 125px;
    margin-right: 30px;
    overflow: hidden;
    position: relative;
    width: 193px;
}
.Checkout_product__right span {
    align-items: center;
    display: flex;
    font-size: 14px;
}
.Checkout_right {

}