/*!*  Button *!
button {
    max-height: 65px;
    height: 65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    border: none;
    padding: 20px 40px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.34);
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    object-fit: contain;
    font-family: 'Open Sans', sans-serif;
    border-radius: 16px;
    background-image: linear-gradient(288deg, #33cccc, #2980b9);
}*/

/*button:hover, .btn:hover, input[type=submit] {
    background-image: linear-gradient(288deg, #2980b9, #33cccc);
    text-decoration: none !important;
    cursor: pointer;
    color: white;
}*/
.header__container {
    min-height: 120px;
    border: 1px solid black;
}
.mr-auto {
    display: flex;
    flex-direction: column;
}
.login_drop span {
    display: block;
    padding: 11px 20px 11px 36px;
    position: relative;
    font-weight: 600;
    line-height: 1;
    color: #2f3337;
    border-radius: 8px;
    border: solid 1px #ecf0f1;
}
.no_login .login_drop span {
    padding: 17px 11px 18px 33px;
}
.login_drop span:hover {
    cursor: pointer;
}
.navContainer {
    display: flex;
    justify-content: space-between;
}