/*.paginationElement li {
    display: inline-block;
    text-align: center;
}
.paginationElement li a, .paginationElement li  {
    !*padding-top: 7px;*!
    display: inline-block;
    border: 1px solid #ECF0F1;
    margin: 0 4px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    color: #B6C2CC;
    background-image: none;
}

.paginationElement li a:hover {
    box-shadow: 0 8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
    background-color: #ffffff;
    border-radius: 50%;
    color: #2980b9;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}
.paginationElement .active {
    box-shadow: 0 8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
    background-color: #ffffff;
}*/
