/* #myHeader {
    display: none;
} */
.icon-french {
    /*background-image: url("./assets/img/icons.png");*/
    background-position: 0 0;
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle; }
  
  .icon-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor; }
  
  .icon-svg-corrected {
    font-size: 1.76rem;
    width: 1.01705em; }
  
  .icon-svg-star {
    font-size: 1.5rem;
    width: 1.06667em; }
  
  body {
    position: relative; }
  
  .message {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 23px 52px 23px 23px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ecf0f1;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px; }
    .message__information {
      /*width: -webkit-fill-available;*/
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: flex-start;
              justify-content: flex-start;
      min-width: 222px;
      width: 222px; }
    .message__name {
      color: #2F3337;
      font-size: 18px; }
    .message__date {
      color: #B6C2CC;
      margin: 5px 0 5px 0; }
    .message__text {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      text-align: left;
      line-height: 19px;
      color: #2F3337; }
    .message__button {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      outline: 0;
      justify-content: center;
      height: 60px;
      padding: 0 44px;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      margin-left: 75px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      background: linear-gradient(344.34deg, #33CCCC 0%, #2980B9 100%); }
      .message__button:hover {
        color: white; }
  
  .message--reviews {
    margin-bottom: 20px;
    box-shadow: 0px 8px 10px rgba(10, 31, 68, 0.1), 0px 0px 1px rgba(10, 31, 68, 0.08); }
    .message--reviews .message__name {
      font-size: 24px;
      margin-bottom: 10px; }
    .message--reviews .message__date {
      display: none; }
    .message--reviews .message__text {
      width: 430px; }
  
  .message--authorization {
    box-shadow: 0px 8px 10px rgba(10, 31, 68, 0.1), 0px 0px 1px rgba(10, 31, 68, 0.08);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    margin-bottom: 20px; }
    .message--authorization .message__information {
      -webkit-align-self: flex-start;
              align-self: flex-start; }
    .message--authorization .message__name {
      font-size: 24px;
      margin-bottom: 10px; }
    .message--authorization .message__text {
      width: 207px;
      margin-left: auto;
      margin-bottom: 0; }
    .message--authorization .message__button {
      font-size: 14px;
      color: #2F3337;
      height: 50px;
      padding: 0 25px 0  35px;
      margin-left: 12px;
      font-family: 'Open Sans', sans-serif;
      background-color: white;
      /*background-image: url("../img/lock.svg");*/
      background-position-y: 50%;
      background-position-x: 11px;
      background-repeat: no-repeat;
      background-size: 14px 19px;
      border: 1px solid #ECF0F1;
      border-radius: 8px;
      box-shadow: none;
      transition-duration: .3s; }
      .message--authorization .message__button:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  
  .message--empty {
    min-height: 183px; }
    .message--empty .message__name {
      margin-bottom: 25px; }
  .rating-stars {
      margin-bottom: 15px;
  }
  @media (max-width: 1200px) {
    .message--reviews .message__button {
      padding: 0 10px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      width: 220px; } }
  
  @media (max-width: 992px) {
    .message__information {
      min-width: 190px;
      width: 190px; }
    .message--reviews {
      padding: 10px; }
      .message--reviews .message__name {
        font-size: 22px; }
      .message--reviews .message__text {
        text-align: center; }
      .message--reviews .message__button {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
                justify-content: center;
        height: 45px;
        margin: auto;
        font-size: 17px;
        padding: 0 10px;
        width: 220px;
        margin-left: 10px; } }
  
  @media (max-width: 768px) {
    .message {
      padding: 10px 20px;
      -webkit-flex-direction: column;
              flex-direction: column; }
      .message__information {
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
                justify-content: center; }
      .message__button {
        margin-left: 0; }
    .rating-stars__list {
      margin: 0 auto; }
    .message--reviews .message__text {
      text-align: center; }
    .message--reviews .message__button {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      height: 45px;
      margin: auto;
      font-size: 17px;
      padding: 0 10px;
      width: 300px; } }
  
  @media (max-width: 576px) {
    .message {
      padding: 10px;
      -webkit-flex-direction: column;
              flex-direction: column; }
      .message__information {
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
                justify-content: center; }
      .message__button {
        margin-left: 0; }
    .rating-stars__list {
      margin: 0 auto; }
    .message--reviews .message__text {
      width: auto; }
    .message--reviews .message__button {
      margin-top: 15px;
      margin-left:auto;
      padding: 0 20px;
      -webkit-justify-content: center;
              justify-content: center;
      font-size: 18px;
      width: 240px; }
    .message--authorization {
      padding: 10px;
      -webkit-flex-direction: column;
              flex-direction: column; }
      .message--authorization .message__information {
        width: 100%;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
                justify-content: center; }
      .message--authorization .message__text {
        margin-left: 0;
        text-align: center; }
      .message--authorization .message__button {
        margin-top: 15px;
        margin-left: 0; } }
  
  .pagination-nav {
    margin-top: 20px;
    padding-top: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
    border-top: 1px solid #ECF0F1; }
  
  .page-item {
    padding: 4px; }
    .page-item:first-child .page-link {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%; }
    .page-item:last-child .page-link {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%; }
    .page-item.disabled .page-link {
      box-shadow: 0px 8px 10px rgba(10, 31, 68, 0.1), 0px 0px 1px rgba(10, 31, 68, 0.08); }
    .page-item .page-link {
      border-radius: 50%;
      border: 1px solid #ECF0F1;
      color: #B6C2CC; }
  
  .tooltip-modal {
    width: 363px;
    padding: 17px 60px 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 18px 18px rgba(10, 31, 68, 0.12), 0 0 1px rgba(10, 31, 68, 0.1);
    border-radius: 8px;
    position: absolute;
    z-index: 100;
    display: none; }
    .tooltip-modal__item {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
              align-items: flex-end;
      -webkit-justify-content: space-between;
              justify-content: space-between; }
    .tooltip-modal .rating-stars__title {
      font-size: 14px; }
  
  .modal {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    max-height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0px;
    z-index: 100; }
    .modal__wrapper {
      background-color: #ECF0F1;
      position: absolute;
      left: 50%;
      top: 50vh;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      /* border: 1px solid #AC9349; */
      z-index: 10;
      border-radius: 18px;

       }
  
  .modal-header {
      display: flex;
    text-align: center;
    padding: 22px;
    color: #2F3337; }
    .modal-header__wrapper {
      width: 100%; }
    .modal-header__title {
      font-size: 36px;
      color: #2F3337;
      font-style: normal; }
    .modal-header__subtitle {
      display: block;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      font-weight: 600;
      font-size: 14px; }
    .modal-header__close {
      outline: 0;
      background: transparent;
      display: block;
      padding: 5px;
      height: fit-content;
      min-width: auto;
      display: flex;
    
      border: 0; }
      .modal-header__close:hover {
          background: transparent;
      }
      .modal-header__close:focus {
        outline: 0; }
    .modal-header__close span { 
        display: block;
        color: #c2c8ce;
        font-size: 32px;
        margin-bottom: auto;    }
  
  .modal-body {
    background-color: #FFFFFF;
    /*max-width: auto;*/
    width: 100%;
    padding: 30px 66px 30px 30px; }
    .modal-body__item {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between; }
    .modal-body .rating-stars {
     margin-bottom: 35px;
      min-width: 176px; }
  
  .modal-footer {
    display: block;
    padding: 0px 50px 35px 50px;
    border-top: 0;
    text-align: center; }
    .modal-footer__title {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #2F3337;
      margin-top: 21px;
      margin-bottom: 17px; }
    .modal-footer__textarea {
      background: #FFFFFF;
      box-shadow: 0px 18px 18px rgba(10, 31, 68, 0.12), 0px 0px 1px rgba(10, 31, 68, 0.1);
      border-radius: 16px;
      width: 100%;
      z-index: 2000;
      margin-right: 0;
      resize: none;
      outline: 0;
      color: #2980B9;
      padding: 21px 45px 21px 21px; }
      .modal-footer__textarea::-webkit-input-placeholder {
        color: #2F3337;
        outline: 0; }
      .modal-footer__textarea:-ms-input-placeholder {
        color: #2F3337;
        outline: 0; }
      .modal-footer__textarea::-ms-input-placeholder {
        color: #2F3337;
        outline: 0; }
      .modal-footer__textarea::placeholder {
        color: #2F3337;
        outline: 0; }
    .modal-footer__submit {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      outline: 0;
      height: 60px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      padding: 0 80px;
      color: #fff;
      background: linear-gradient(344.34deg, #33CCCC 0%, #2980B9 100%);
      font-family: 'Open Sans' , sans-serif;
      font-weight: 600;
      font-size: 24px;
      margin: 20px auto 0 auto; }
    .modal-footer > :not(:first-child) {
        padding: 0 80px;
      margin-left: auto; }
    .modal-footer > :not(:last-child) {
      margin-right: auto; }
  
  @media (max-width: 1200px) {
    .modal-body {
      padding: 20px; }
      .modal-body .rating-stars__list {
        margin-bottom: 0; }
    .modal-footer {
      padding: 10px 20px 15px 20px; }
      .modal-footer__textarea {
        height: 100px; }
      .modal-footer__submit {
        height: 45px;
        margin-top: 10px; } }
  
  @media (max-width: 576px) {
    .modal__wrapper {
      background-color: #ECF0F1;
      position: absolute;
      width: 320px;
      left: 50%;
      top: 50vh;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border: 1px solid #AC9349;
      border-radius: 5px; }
    .modal-header__title {
      font-size: 22px; }
    .modal-header__subtitle {
      font-size: 12px; }
    .modal-body {
      padding: 10px 15px; }
      .modal-body__item {
        -webkit-flex-direction: column;
                flex-direction: column; }
        .modal-body__item .rating-stars {
          margin: 4px 0;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
                  justify-content: space-between;
          min-width: auto; }
          .modal-body__item .rating-stars__title {
            font-size: 12px;
            font-weight: 400; }
          .modal-body__item .rating-stars__list {
            margin: 0; }
          .modal-body__item .rating-stars i.fa {
            margin: 1px;
            width: 9px;
            height: 9px; }
    .modal-footer {
      padding: 5px 5px 10px 5px; }
      .modal-footer__title {
        margin: 10px 0; }
      .modal-footer__textarea {
        padding: 10px; }
    .tooltip-modal {
      width: 222px;
      padding: 17px 20px 20px 10px;
      background: #FFFFFF;
      box-shadow: 0px 18px 18px rgba(10, 31, 68, 0.12), 0px 0px 1px rgba(10, 31, 68, 0.1);
      border-radius: 8px;
      position: absolute;
      display: none; }
      .tooltip-modal__item {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-end;
                align-items: flex-end;
        -webkit-justify-content: space-between;
                justify-content: space-between; }
      .tooltip-modal .rating-stars__title {
        font-size: 11px; }
      .tooltip-modal .rating-stars__list {
        margin-left: 0; }
      .tooltip-modal .rating-stars .star {
        margin-right: 3px; }
      .tooltip-modal .rating-stars i.fa {
        width: 10px;
        height: 10px; } }
  
  .container {
    background-color: transparent; }
  
  .rating-stars__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 18px; }
  
  .rating-stars__list {
   /* width: -webkit-fit-content;*/
    width: -moz-fit-content;
    width: fit-content;
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none; }
  
  .rating-stars li.star {
    display: inline-block;
    cursor: pointer; }
  
  .rating-stars i.fa {
    color: #ccc;
    width: 16px;
    height: 16px; }
  
  .rating-stars ul > li.star.hover > i.fa {
    color: #2980B9; }
  
  .rating-stars ul > li.star.selected > i.fa {
    color: #2980B9; }
  
  @media (max-width: 576px) {
    .container {
      padding: 0 5px; } }
  