/*
!*

   Responsive CSS

   Tablet and Mobile

   *!


@media only screen and (max-width: 1024px) {

    .test:after {
        content: '@media (max-width: 1024px)';
    }

    .menu nav ul li a {
        margin: 0 5px;
    }

    .container {
        padding: 0 13px;
    }

    .menu {
        width: 54%;
    }

    .header_drop {
        width: 16%;
    }

    .header_login {
        width: 15%;
    }

    .product_r_top .rating {
        max-width: 117px;
        min-width: 117px;
        width: 50%;
        padding-top: 3px;
    }

    .time {
        width: 50%;
        font-size: 16px;
    }

    .articles-wrapper {
        padding: 0 60px;
        margin-top: 70px;
    }

}


@media only screen and (max-width: 980px) {

    .test:after {
        content: '@media (max-width: 980px)';
    }

    .menu-right-button {
        display: block;
        position: relative;
        font-size: 32px;
        padding: 0px 5px 1px 5px;
        line-height: 1;
        background: white;
    }

    .container_right_menu {
        width: 100%;
        right: -100%;
    }

    #menu_right_sidebar {
        display: block;
        position: fixed;
        right: 16px;
        top: 18px;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 38%;
    }

    .logo img {
        max-height: 55px;
    }

    header {
        padding: 5px 0 10px 0;
    }

    .header_drop {
        width: 45%;
        padding-top: 10px;
    }

    .header_login {
        width: 15%;
        padding-top: 10px;
    }

    .login_drop span {
        width: 40px;
        float: left;
        font-size: 0;
        height: 40px;
        padding: 0;
    }

    .drop span {
        font-size: 0;
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .login_drop ul {
        top: 35px;
    }

    .no_login .login_drop span {
        padding: 0;
    }

    .login_drop span i {
        text-indent: 0;
        top: 9px;
        left: 12px;
    }

    .services_item {
        width: 50%;
        margin-bottom: 30px;
    }

    footer .f_mail, footer .f_mail a {
        font-size: 18px;
    }

    .menu-right-button:hover {
        color: white;
        background: #2980B9;
        cursor: pointer;
    }

    .drop_l {
        float: right;
        width: 40px;
        height: 40px;
    }

    .drop_r {
        float: right;
        margin-right: 8px;
        margin-left: 0;
        width: 40px;
        height: 40px;
    }

    .drop span::before {
        text-indent: 0;
    }

    .header_drop .drop_l span::before {
        content: "\f0d6";
        font-size: 24px;
        left: 7px;
    }

    .header_drop .drop_r span::before {
        content: "\f0ac";
        font-size: 23px;
    }

    .drop ul {
        top: 37px;
        width: 40px;
    }

    .drop li a {
        padding: 3px;
        text-align: center;
    }

    .sidebar {
        padding-right: 20px;
    }

    .catalog .cat_item:nth-child(3n+1) {
        clear: none;
    }

    .catalog .cat_item:nth-child(2n+1) {
        clear: both;
    }

    .catalog .cat_item {
        width: 50%;
    }

    h4, .h4, .cat_item_title a {
        font-size: 20px;
    }

    .pick {
        position: relative;
        padding: 20px;
    }

    .pick_l {
        width: 100%;
        padding: 0;
    }

    .pick_r {
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .page_404_l svg {
        width: 100% !important;
        height: 100% !important;
    }

    .article__content {
        columns: 1;
        column-gap: 30px;
    }

    .articles-wrapper {
        padding: 0 100px;
        margin-top: 70px;
    }
}


@media only screen and (max-width: 767px) {

    .test:after {
        content: '@media (max-width: 767px)';
    }

    .ht_content {
        margin-top: 30px;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        line-height: normal;
    }

    .row-15 {
        margin: 0 !important;
    }

    .blog_item {
        display: none;
    }

    .show_xs {
        display: block !important;
    }

    #loadMore {
        display: block;
    }

    .header_drop {
        width: 47%;
    }

    .header_login {
        width: 13%;
    }

    #loadMoredesc {
        display: none;
    }

    h1, .h1 {
        font-size: 46px;
        font-weight: 300;
    }

    h2, .h2 {
        font-size: 36px;
    }

    h3, .h3 {
        font-size: 26px;
    }

    h4, .h4 {
        font-size: 22px;
    }

    h5, .h5 {
        font-size: 22px;
    }

    h6, .h6 {
        font-size: 22px;
    }

    .header_search label[for="toggle-tab1"] {
        margin-left: 12px;
    }

    .header_search label, .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        font-size: 14px;
        padding: 7px 12px;
    }

    .services_item_vn {
        font-size: 22px;
    }

    .header_search button {
        width: 30.5%;
    }

    .input_search {
        width: 69.5%;
    }

    .header_title {
        min-height: 350px;
    }

    .services {
        padding-top: 0;
    }

    .the_best {
        padding-top: 0;
    }

    .home_text {
        padding-top: 30px;
    }

    footer .f_link {
        padding-top: 23px;
    }

    footer .soc {
        padding-top: 0;
    }

    footer {
        position: relative;
        margin-top: 30px;
    }

    main {
        padding-bottom: 0;
    }

    footer .footer_r ul li a {
        padding: 2px 0 5px 0;
        line-height: 1.3;
    }

    footer .footer_r ul {
        padding-left: 0;
    }

    footer .footer_r ul:last-child {
        padding-left: 10px;
    }

    footer .f_mail, footer .f_mail a {
        font-size: 16px;
    }

    body {
        font-size: 14px;
    }

    .white-popup {
        padding: 30px;
    }

    .no_login .login_drop {
        padding-bottom: 0;
        height: 40px;
    }

    .blog_item {
        width: 100%;
    }

    .blog_grid {
        margin: 0 -15px !important;
    }

    .blog_item .post_big img, .post_smoll_item a img {
        width: 100%;
    }

    .cat_item_title a {
        font-size: 16px;
        padding-top: 5px;
        line-height: 1.8;
    }

    .pagination li a, .pagination li span {
        margin: 2px 4px;
    }

    .product_title h1 {
        font-size: 26px;
    }

    .time {
    }

    .product_r_top {
        padding: 20px;
    }

    .product_r_top .rating {
        max-width: 96px;
        min-width: 96px;
    }

    .product_r_top .rating i {
        margin-left: 0;
        margin-right: 4px;
    }

    .cat_item {
        width: 50%;
    }

    .slider_nav_block .angle_right {
        top: 24%;
    }

    .slider_nav_block .angle_left {
        top: 24%;
    }

    .popup_form input {
        padding: 10px 17px 10px 17px;
        font-size: 14px;
    }

    .account .wighet h5 {
        font-size: 17px;
    }

    .account .cat_top h4 {
        margin-bottom: 5px;
    }

    .account_settings {
        padding: 20px;
    }

    .account_settings h4 {
        text-align: center;
    }


    .page_404 {
        padding-top: 0;
    }

    .article__content {
        columns: 1;
        column-gap: 30px;
    }

    .articles-wrapper {
        padding: 0 50px;
        margin-top: 70px;
    }

}


@media only screen and (max-width: 568px) {

    .test:after {
        content: '@media (max-width: 568px)';
    }

    .header_drop {
        width: 32%;
    }

    .header_login {
        width: 26%;
    }

    .home_text_l {
        float: left;
        width: 100%;
        padding-right: 0px;
    }

    .home_text_r {
        float: right;
        width: 100%;
        padding-left: 0px;
    }

    .header_search label {
        float: none;
    }

    .services_item {
        width: 100%;
    }

    .popup_form button {
        min-width: 100%;
        width: 100%;
    }

    .scrol {
    }

    .ui-tabs .ui-tabs-nav li {
        border-radius: 8px !important;
    }

    .ui-tabs .ui-tabs-nav li {
        margin: 0 2px 2px 0;
    }

    .header_title {
        padding: 30px 0 40px 0;
    }

    .header_search label[for="toggle-tab1"] {
        margin-left: 0;
    }

    .header_title h1 {
        text-align: center;
        font-size: 36px;
    }

    .header_search button {
        width: 100%;
        border-radius: 12px;
        font-size: 16px;
    }

    .input_search {
        width: 100%;
        border-radius: 12px;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .header_title .header_search {
        padding: 10px;
        background: white;
        border-radius: 16px;
        box-shadow: 0 18px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
    }

    .input_search {
        box-shadow: 0 6px 18px 0 rgba(10, 31, 68, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
        background-color: var(--white);
        margin: 11px 0 15px 0;
    }

    .header_search label {
        margin: 0 2px 5px 0;
        padding: 7px;
        border-radius: 8px !important;
    }

    .header_search form {
    }

    footer .footer_l, footer .footer_r, footer .footer_c {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    footer .footer_c {
        text-align: center;
    }

    footer .f_link {
        padding-top: 18px;
    }

    .post_smoll {
        margin: 5px -5px 0 -5px !important;
    }

    .post_smoll_item {
        padding: 5px;
    }

    .faq_l, .faq_r {
        width: 100%;
        padding: 0;
    }

    .faq_l {
        margin-bottom: 20px;
    }

    .blog_item:nth-child(2n) .post_smoll {
        margin: 0px -5px 5px -5px !important;
    }

    .catalog .header_title p {
        font-size: 16px;
    }

    .sidebar {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .catalog_r {
        width: 100%;
        padding: 0;
    }

    .catalog .cat_item {
        width: 100%;
    }


    .cat_item_title {
        min-height: auto;
    }

    .cat_item_title a {
        font-size: 20px;
        padding-top: 0;
        line-height: normal;
    }

    .cat_top h4 {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .short {
        width: 150px;
        margin: 0 auto;
        float: none;
    }

    .cat_top {
        text-align: center;
    }

    .catalog .header_title {
        min-height: auto;
    }

    .pp-credit-block-button {
        display: block;
    }

    div.popup-credit {
        display: none;
        position: relative;
        padding: 10px 20px 20px 20px;
    }

    .cancelComment {
        display: block;
        color: var(--bluish);
        font-size: 20px;
        padding: 10px;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 6px;
    }

    .breadcrumbs {
        margin-bottom: 30px;
    }

    .product_l {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .product_r {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .cat_item {
        width: 100%;
        padding: 12px 0;
    }

    .ui-accordion .ui-accordion-header {
        margin: 0 0 15px 0;
        padding: 15px 45px 15px 20px;
        font-size: 22px;
    }

    body .ui-accordion .ui-accordion-header .ui-icon-triangle-1-s {
        font-size: 28px;
    }

    .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        font-size: 28px;
    }

    .product_top {
        margin-bottom: 10px;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0px 20px 20px 20px;
    }

    .product .catalog_item h3 {
        font-size: 24px;
    }

    .account_settings .col-2 {
        padding: 0;
        width: 100%;
    }

    .product .add .btn {
        width: 100%;
    }

    .account_input span {
        text-align: center;
    }

    .account_button button {
        margin-top: 0;
    }

    .catalog_item h3 {
        text-align: center;
    }

    .error200 .header_title {
        min-height: auto;
        padding: 40px 0;
    }

    .rectangle {
        padding: 30px 0;
    }

    .page_404_l {
        width: 100%;
        padding: 0;
    }

    .page_404_r {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .page_404_r h1 {
        text-align: center;
    }

}

@media only screen  and (max-width: 480px) {

    .test:after {
        content: '@media (max-width: 480px)';
    }

    .header_drop {
        width: 32%;
    }

    .header_login {
        width: 26%;
    }

    .articles-wrapper {
        padding: 0 20px;
        margin-top: 70px;
    }

}


@media only screen  and (max-width: 340px) {

    .test:after {
        content: '@media (max-width: 340px)';
    }

}*/
