.navbar button {

    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: none;
    color: rgba(0, 0, 0, 0);
}
.navbar button:hover,.navbar button:active,.navbar button:focus,.navbar button:focus-visible {
    text-decoration: none;
    border: none;

}
.navbar-light .navbar-toggler {
    border: none;
}
.header_login .no_login span {
    border: 1px solid black;
    visibility: hidden;
}